<app-menu></app-menu>


<div class="content">



  <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
         Información General
    </h2>
<div class="w-full sm:w-auto flex mt-4 sm:mt-0">
  <a (click)="regresar()" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>
</div>
</div>


  <div class="box">
    <div class="grid grid-cols-12 gap-6 mt-5">

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
          <div class="text-base text-gray-600 mt-1">
            Nombre

            <div class="text-base font-bold leading-8 mt-6"> {{alumno.nombre}} </div>
          </div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
          <div class="text-base text-gray-600 mt-1">Apellido Paterno</div>

          <div class="text-base font-bold leading-8 mt-6">{{alumno.paterno}}</div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
          <div class="text-base text-gray-600 mt-1">Apellido Materno</div>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.materno}}</div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>ID Matricula</label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.matricula}}</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>Universidad:</label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.universidad}}</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>Facultad:</label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.facultad}}</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>Carrera:</label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.carrera}}</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>Porcentaje Academico:</label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.porcentaje}} %</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>
            Avance en créditos de la carrera:
          </label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.avanceCreditos}}</div>
        </div>
      </div>

   
   

  

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>
            Correo Institucional:
          </label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.correoInstitucional}}</div>
        </div>
      </div>
    

  

      <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class="p-5">
          <label>
            Sexo:
          </label>
          <div class="text-base font-bold leading-8 mt-6">{{alumno.sexo}}</div>
        </div>
      </div>

    </div>
  </div>

  <br>


  <br>


  <div class="intro-y flex items-center h-10">
    <h2 class="text-lg font-medium truncate mr-5">
      Reportes 
    </h2>
  </div>


  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
    <div class="box p-5">

      <table class="table table-report sm:mt-2">
        <thead>
          <tr>

            <th class="whitespace-no-wrap">Reporte</th>
          

          </tr>
        </thead>
        <tbody>
          <tr class="intro-x">

            <td>
              <div class="ext-base text-xs whitespace-no-wrap">  </div>
            </td>
           
          
          </tr>



        </tbody>
      </table>

      </div>

    </div>

    <br>
    <br>

<!--     
    <div class="intro-y flex items-center h-10">
      <h2 class="text-lg font-medium truncate mr-5">
        Reportes global
      </h2>
    </div>


    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
      <div class="box p-5">

        <table class="table table-report sm:mt-2">
          <thead>
            <tr>

              <th class="whitespace-no-wrap">Reporte</th>
            

            </tr>


          </thead>
          <tbody>
            <tr class="intro-x">

              <td>
                <div class="ext-base text-xs whitespace-no-wrap">  </div>
              </td>
               
            
            </tr>

       

          </tbody>
        </table>
        <button (click)="abrirsubirr()" class="button text-white bg-theme-1 shadow-md mr-2">Agregar reporte</button>

        </div>

      </div> -->





      <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
          Reportes desempeño
        </h2>
      </div>


      <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <div class="box p-5">

          <table class="table table-report sm:mt-2" *ngIf="respuestas!=''" >
            <thead>
              <tr>

                <th class="whitespace-no-wrap">Reporte</th>
                <th class="whitespace-no-wrap">Fecha registro</th>
                <th class="whitespace-no-wrap">Realizado</th>


              </tr>


            </thead>
            <tbody>
              <tr class="intro-x" >

                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">Entregado</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap"> {{respuestas}} </div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap"> SI </div>
                </td>
                 
              
              </tr>

         

            </tbody>
          </table>
          <button [routerLink]="['/alumnosevaluar', alumno.id]" class="button text-center text-white bg-theme-1 shadow-md mr-2"  *ngIf="respuestas==''" >Evaluar alumno</button>

          </div>

        </div>
<br>
<br>

 


</div>


