<app-menu></app-menu>


<div class="container" style=" font-family:Helvetica;">

  <div class="modal" id="success">
    <div class="modal" id="warning-modal-preview" style=" display: block; ">
      <div class="modal__content modal__content--xl p-10 text-center">
        <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¡Muy bien!</div>
        <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Has actualizado el estado del alumno!</div>

      </div>
      <br>
      <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Continuar</a> </div>
    </div>

  </div>
  <div class="modal" id="tipo3">
    <div class="modal__content modal__content--xl p-10 text-center">

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Alumno Aceptado</div>
      <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Espera su confirmación!</div>
      <div class=" mt-1 " style="font-size: 20px;">
        Ha aceptado este alumno, ahora deberás esperar a que confirme su aceptación. Al confirmarla, podrás ingresar su fecha de inicio, validar sus reportes mensuales y agregar sus horas cada mes.

      </div>
      <br>
      <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
            "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Aceptar</a> </div>



    </div>


  </div>


  <div class="modal" id="tipokk3">
    <div class="modal" id="warning-modal-preview" style=" display: block; ">
      <div class="modal__content modal__content--xl p-10 text-center">
        <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Alumno Aceptado</div>
        <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Espera su confir!</div>
        <div class=" mt-1 " style="font-size: 20px;">
          Ha aceptado este alumno, ahora deberás esperar a que confirme su aceptación. Al confirmarla, podrás ingresar su fecha de inicio, validar sus reportes mensuales y agregar sus horas cada mes.

        </div>
      </div>
      <br>
      <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Continuar</a> </div>
    </div>

  </div>



  <br><br><br>
  <div class=" text-center  mt-5 font-weight-bold" style=" font-size:25px; ">

    <div class="">
      <a class="text-center"> {{alumnoproyecto.proyectoNombre}} </a>
      <br />
      <br />
      <a class="text-center" style="color: #FF8800;">  Estado: </a>
      <a class=" text-success" style="color: #9FC720;">
        {{Estado}}
      </a>
    </div>
    <button style="font-size: 15px; background-color: #FF8800;" (click)="actualizarestado()" *ngIf="idEstado<4" class="button text-center text-white  ml-5">Cambiar Estado del Alumno</button>
    <br>
    <button style="font-size: 15px; background-color: #FF8800;" (click)="actualizarfecha()" *ngIf="idEstado==4" class="button text-center text-white  ml-5">Confirmar Fecha de Inicio </button>

    <div class="" *ngIf="fechaincr!=null">
      <a class="text-center" style="color: #6B3F23;">  Fecha de ingreso : </a>


      <a class=" text-success">
        {{fechaincr}}
      </a>
    </div>
  </div>



  <div class="grid grid-cols-12 gap-6 mt-2">
    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
      <div class=" p-5">
        <div class="   mt-1 font-weight-bold" style="font-size:25px;font-weight: bold; ">
          Información General


        </div>
        <hr style="color: #000000;" noshade="noshade" size="3" /><br>

      </div>

    </div>

  </div>

  <div class="container " style="font-size: 17px;">
    <div class="grid grid-cols-12 gap-6 ">

      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class=" ">
          <div class="    font-weight-bold" style=" font-size:25px; color:#FF8800">
            Nombre
          </div>
          <div class="text-base font-bold leading-8 mt-1">
            {{alumno.nombre}}
          </div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class=" ">
          <div class="  font-weight-bold" style=" font-size:25px; color:#FF8800">
            Apellido Paterno
          </div>

          <div class="text-base font-bold leading-8 mt-1">{{alumno.paterno}}</div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class="">
          <div class="    font-weight-bold" style=" font-size:25px; color:#FF8800">
            Apellido Materno
          </div>
          <div class="text-base font-bold leading-8 mt-1">{{alumno.materno}}</div>
        </div>
      </div>
      <div *ngIf="idEstado==3 || idEstado==4 || idEstado==5" class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
          <div class="">
              <div class="font-weight-bold" style=" font-size:25px; color:#FF8800">
                  ID Matricula</div>
              <div class="text-base font-bold leading-8 mt-1">{{alumno.matricula}}</div>
          </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class="">
          <div class="font-weight-bold" style=" font-size:25px; color:#FF8800">Universidad:</div>
          <div class="text-base font-bold leading-8 mt-1">{{alumno.universidad}}</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class="">
          <div class="font-weight-bold" style=" font-size:25px; color:#FF8800">Facultad:</div>
          <div class="text-base font-bold leading-8 mt-1">{{alumno.facultad}}</div>
        </div>
      </div>

      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class="">
          <div class="font-weight-bold" style=" font-size:25px; color:#FF8800">Carrera:</div>
          <div class="text-base font-bold leading-8 mt-1">{{alumno.carrera}}</div>
        </div>
      </div>




      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class="">
          <div class="font-weight-bold" style=" font-size:25px; color:#FF8800">
            Correo Institucional:
          </div>
          <div class="text-base font-bold leading-8 mt-1">{{alumno.correoInstitucional}}</div>
        </div>
      </div>




      <div class="col-span-12 sm:col-span-6 xl:col-span-4  text-center">
        <div class="">
          <div class="  font-weight-bold" style=" font-size:25px; color:#FF8800">
            Sexo:
          </div>
          <div class="text-base font-bold leading-8 mt-1">{{alumno.sexo}}</div>
        </div>
      </div>

    </div>
  </div>

  <br>

  <div class="grid grid-cols-12 gap-6 mt-5" *ngIf="idEstado==4">
    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
      <div class=" p-5">
        <div class="   mt-1 font-weight-bold" style="font-size:25px; font-weight: bold; ">
          Reportes de Horas


        </div>
        <hr style="color: #000000;" noshade="noshade" size="3" /><br>

      </div>

    </div>

  </div>

  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0" *ngIf="idEstado==4" style="font-size: 17px;">
    <div class=" p-5">

      <div class="">
        <a class="button text-white bg-theme-9 shadow-md mr-2" style="border-radius: 15px; cursor:default">Horas Acumuladas: {{horastotales}}</a>

        <a class="button text-white bg-theme-1 shadow-md mr-2" style="border-radius: 15px; cursor:default">Horas a cumplir: {{noHoras}}</a>

        <a align="right" (click)="abrirmodalhoras()" style=" background-color:#FF8800;border-radius: 15px;" class="button inline-block  text-white">Agregar horas</a>
      </div>


      <div class="mt-3">
        <div class="sm:grid grid-cols-2 gap-2">
          <div class="relative mt-2">
            <div>

            </div>

          </div>
          <div class="relative mt-2">

            <div class="modal" id="horasmodal">
              <div class="modal__content">
                <div class="p-5 text-center">
                  <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                  <div class="text-base mt-5 mb-5" style="color:#FF8800;font-size:25px"> Agregar Horas</div>

                  <input type="number" max="80" maxlength="80" class="input  w-full border mt-2 " id="nohoras" placeholder="Horas que registrará al alumno" required>

                  <div class="text-base mt-5" style="display: block;" id="advertencia0"> {{mensajeh0}}</div>
                  <div class="text-base mt-5" style="display: none;color: red;" id="advertencia"> {{mensajeh}}</div>

                </div>

                <div class="px-5 pb-8 text-center">
                  <div class="px-5 pb-8 text-center">
                    <button data-dismiss="modal" class="button w-24 border dark:border-dark-5 mr-1">Cancelar</button>
                    <button (click)="reportedehoras()" class="button w-24 bg-theme-1 text-white" style="background-color:#FF8800">Aceptar</button>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
        <table class="table table-report sm:mt-2" *ngIf="idEstado==4">
          <thead>
            <tr>

              <th class="whitespace-no-wrap">HORAS AGREGADAS</th>
              <th class="whitespace-no-wrap">FECHA</th>

            </tr>
          </thead>
          <tbody>
            <tr class="intro-x" *ngFor="let h of horasalumno">
              <th style="background: rgb(250, 250, 250);" class="whitespace-no-wrap"> {{h.noHoras}}</th>
              <th style="background: rgb(250, 250, 250);" class="whitespace-no-wrap"> {{h.fechaCreacion}}</th>



            </tr>

          </tbody>
        </table>
      </div>

    </div>



  </div>




  <br>



  <div class="grid grid-cols-12 gap-6 mt-5" *ngIf="idEstado==4">
    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
      <div class=" p-5">
        <div class="   mt-1 font-weight-bold" style="font-size:25px; font-weight: bold;">
          Seguimiento de Reportes Mensuales


        </div>
        <hr style="color: #000000;" noshade="noshade" size="3" /><br>

      </div>

    </div>

  </div>
  <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0" *ngIf="idEstado==4" style="font-size: 17px;">
    <table class="table table-report sm:mt-2">

      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr class="intro-x" *ngFor="let h of alumnosactividades">
          <th style="background: rgb(250, 250, 250);" class="whitespace-no-wrap"> {{h.titulo }}</th>
          <!-- <th style="background: rgb(250, 250, 250);" class="whitespace-no-wrap"> {{h.actividad }}</th> -->
          <th style="background: rgb(250, 250, 250);">
            <div class="text-center" style="color: #E60505; ">
              <div style="font-size: 14px; color: black;  font-weight: bold;">Fecha</div>
              {{h.fechaCreacion}}
            </div>

          </th>




          <th style="background: rgb(250, 250, 250);" class="w-5 whitespace-no-wrap " *ngIf="h.validaEmpresa==true">
            <div style="margin-right: auto; border-radius: 15px;  font-size:15px; cursor: default;" class="button text-white bg-theme-9 mr-2">VALIDADO</div>
          </th>
          <th style="background: rgb(250, 250, 250);" class="w-5 whitespace-no-wrap " *ngIf="h.validaEmpresa==false">
            <div style="margin-right: auto; border-radius: 15px;  font-size:15px; cursor: default;" class="button bg-theme-6  text-white  mr-2">PENDIENTE</div>
          </th>

          <th style="background: rgb(250, 250, 250);" class="w-5">
            <div class="ext-base text-xs whitespace-no-wrap">
              <a (click)="mostraractualizarestado(h.id)">
                <div style="margin-right: auto; border-radius: 15px;  font-size:15px;background-color:#FF8800" class="button text-white  mr-2"> Ver detalle</div>
              </a>
            </div>
          </th>

          <div class="modal" id="act-{{h.id}}">
            <div class="modal__content modal__content--xl p-10 text-center">

              <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Reporte mensual</div>
              <br><br>

              <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">{{h.titulo}}</div>

              <textarea rows="10" cols="80" disabled style="text-align: justify;">{{h.actividad}}</textarea>
              <br>
              <div *ngIf="h.archivo!=null && h.archivo!=''">
              </div>
              <div *ngIf="h.ruta!=null && h.ruta!=''">
                <div>
                  <div class="text-base text-gray-600">
                    <br><br>

                    <a href="javascript:;" (click)="descargar(h.id)" class="button inline-block bg-theme-12 text-white">Archivo Adjunto</a>

                  </div>
                </div>
              </div>
              <br><br>

              <label class="text-center " *ngIf="h.validaEmpresa">Validado</label>

              <br><br>
              <div class="px-5 pb-8 text-center">
                <div class="px-5 pb-8 text-center">
                  <button data-dismiss="modal" style="background-color:#FF8800" class="button text-white border  mr-1" *ngIf="h.validaEmpresa">Aceptar</button>
                  <button (click)="cambiarestado(h.id)" data-dismiss="modal" style="background-color:#FF8800" class="button text-white" *ngIf="h.validaEmpresa==false">Validar</button>
                  <button data-dismiss="modal" class="button text-white bg-theme-1 ml-4">Cancelar</button>
                </div>

              </div>

            </div>

          </div>


        </tr>



      </tbody>
    </table>

  </div>


  <br>
  <br>
  <div *ngIf="alumnoproyecto!=null && idEstado==4" class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
      Cartas del proyecto
    </h2>
  </div>

  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0" *ngIf="alumnoproyecto!=null && idEstado==4">
    <div class=" p-5">

      <table class="table table-report sm:mt-2">
        <thead>
        </thead>
        <tbody>
          <tr class="intro-x">
            <td style="background: rgb(250, 250, 250);">
              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">1</div>
            </td>
            <td style="background: rgb(250, 250, 250);">

              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">Carta de inicio</div>
            </td>
            <td style="background: rgb(250, 250, 250);">
              <div>
                <div *ngIf="alumnoproyecto.validaCartaInicio==0 || alumnoproyecto.validaCartaInicio==1" style="margin-right: auto; border-radius: 25px; font-size:15px; " class="button text-white bg-theme-6 shadow-md mr-2">
                    PENDIENTE
                </div>
                <div *ngIf="alumnoproyecto.validaCartaInicio==2" style="margin-right: auto; border-radius: 25px;  font-size:15px; " class="button text-white bg-theme-1 shadow-md mr-2">
                    REVISIÓN
                </div>
                <div *ngIf="alumnoproyecto.validaCartaInicio==3" style="margin-right: auto; border-radius: 25px; font-size:15px; " class="button text-white bg-theme-6 shadow-md mr-2">
                    RECHAZADO
                </div>
                <div *ngIf="alumnoproyecto.validaCartaInicio==4" style="margin-right: auto; border-radius: 25px; font-size:15px; " class="button text-white bg-theme-9 shadow-md mr-2">
                    VALIDADO
                </div>
              </div>
            </td>
            <!--
            <td style="background: rgb(250, 250, 250);">
              <a *ngIf="alumnoproyecto.rutaCartaInicio==null || alumnoproyecto.rutaCartaInicio==''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(0)" class="button inline-block text-white" style="background:#FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Agregar carta</a>
              <a *ngIf="alumnoproyecto.rutaCartaInicio!=null && alumnoproyecto.rutaCartaInicio!=''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(0)" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px"> Volver a cargar</a>
            </td>
              -->
            <td style="background: rgb(250, 250, 250);" *ngIf="alumnoproyecto.rutaCartaInicio!=null && alumnoproyecto.rutaCartaInicio!=''">
              <a href="javascript:;" (click)="descargarCarta(alumnoproyecto.id,0)" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Mostrar</a>
            </td>
            <!--<td>
              <div class="ext-base text-xs whitespace-no-wrap">{{carta.fechaCreacion| date: 'dd-MM-yyyy'}}</div>
            </td>-->
          </tr>
          <tr class="intro-x" *ngIf="alumnoproyecto!=null && alumnoproyecto.horasRegistradas >= noHoras && noHoras>0">
            <td style="background: rgb(250, 250, 250);">
              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">2</div>
            </td>
            <td style="background: rgb(250, 250, 250);">

              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">Carta de termino</div>
            </td>
            <td style="background: rgb(250, 250, 250);">
              <div>
                <div *ngIf="alumnoproyecto.validaCartaTermino==0 || alumnoproyecto.validaCartaTermino==1" style="margin-right: auto; border-radius: 25px; font-size:15px; " class="button text-white bg-theme-6 shadow-md mr-2">
                    PENDIENTE
                </div>
                <div *ngIf="alumnoproyecto.validaCartaTermino==2" style="margin-right: auto; border-radius: 25px;  font-size:15px; " class="button text-white bg-theme-1 shadow-md mr-2">
                    REVISIÓN
                </div>
                <div *ngIf="alumnoproyecto.validaCartaTermino==3" style="margin-right: auto; border-radius: 25px; font-size:15px; " class="button text-white bg-theme-6 shadow-md mr-2">
                    RECHAZADO
                </div>
                <div *ngIf="alumnoproyecto.validaCartaTermino==4" style="margin-right: auto; border-radius: 25px; font-size:15px; " class="button text-white bg-theme-9 shadow-md mr-2">
                    VALIDADO
                </div>
              </div>
            </td>
            <!--
            <td style="background: rgb(250, 250, 250);">
              <a *ngIf="alumnoproyecto.rutaCartaTermino==null || alumnoproyecto.rutaCartaTermino==''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(1)" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Agregar carta</a>
              <a *ngIf="alumnoproyecto.rutaCartaTermino!=null && alumnoproyecto.rutaCartaTermino!=''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(1)" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Volver a cargar</a>
            </td>
              -->
            <td *ngIf="alumnoproyecto.rutaCartaTermino!=null && alumnoproyecto.rutaCartaTermino!=''" style="background: rgb(250, 250, 250);">
              <a href="javascript:;" (click)="descargarCarta(alumnoproyecto.id,1)" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;font-size:18px">Mostrar</a>
            </td>
            <!--<td>
              <div class="ext-base text-xs whitespace-no-wrap">{{carta.fechaCreacion| date: 'dd-MM-yyyy'}}</div>
            </td>-->
          </tr>
        </tbody>
      </table>
      <!--<div class="text-center"> <a href="javascript:;" data-toggle="modal" data-target="#subirActividad" class="button inline-block bg-theme-1 text-white">Agregar carta</a> </div>-->
    </div>

  </div>
  <br>
  <br>


  <div class="grid grid-cols-12 gap-6 mt-5" *ngIf="idEstado==4">
    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
      <div class=" pl-5 pr-5">
        <div class="   mt-1 font-weight-bold" style="font-size:25px; font-weight: bold; ">
          Reportes desempeño



        </div>
        <hr style="color: #000000;" noshade="noshade" size="3" /><br>

      </div>

    </div>

  </div>


  <div class="intro-y overflow-auto lg:overflow-visible sm:mt-0" *ngIf="idEstado==4" style="font-size: 17px;">
    <table class="table table-report sm:mt-2">
      <thead>
        <tr>
        </tr>


      </thead>
      <tbody>
        <tr class="intro-x" *ngIf="RespuestasEvaluaciones1.length>0">


          <td style="background: rgb(250, 250, 250);">
            <div class="ext-base text-xs whitespace-no-wrap"> Reporte de evaluación intermedio  </div>
          </td>

          <td style="background: rgb(250, 250, 250);" class="w-15">
            <a>
              <div style="margin-right: auto; border-radius: 15px;  font-size:15px;" class="button bg-theme-1 text-white  mr-2">Evaluación Completada</div>
            </a>
          </td>
          
        </tr>
        <tr class="intro-x" *ngIf="RespuestasEvaluaciones2.length>0">

          <td style="background: rgb(250, 250, 250);">
            <div class="ext-base text-xs whitespace-no-wrap"> Reporte de evaluación Final  </div>
          </td>

          <td style="background: rgb(250, 250, 250);" class="w-15" >
            <a>
              <div style="margin-right: auto; border-radius: 15px;  font-size:15px;" class="button text-white bg-theme-1 mr-2">Evaluación Completada</div>
            </a>
          </td>

        </tr>



      </tbody>
    </table>



    <button (click)="contestarEncuesta(1)" style="background-color:#FF8800;border-radius: 15px;" class="button text-center text-white  shadow-md mr-2" *ngIf="horastotales >0 && (horastotales)>= (noHoras/2) && RespuestasEvaluaciones1.length==0">Evaluación intermedia del alumno</button>

    <button (click)="contestarEncuesta(2)" style="background-color:#FF8800;border-radius: 15px;" class="button text-center text-white  shadow-md mr-2" *ngIf="horastotales >0 && (horastotales)>= (noHoras) && RespuestasEvaluaciones2.length==0">Evaluación final del alumno</button>

  </div>
  <br>
  <br>




  <div class="modal" id="mostrareditaralumno">
    <div class="modal__content">
      <form #form="ngForm" (ngSubmit)="cambiarestatusalumno()">
        <div class="p-5 text-center">
          <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>

          <div class="flex flex-col sm:flex-row items-center mt-3">
            <label class="sm:w-32 sm:text-right sm:mr-5" *ngIf="plazasDisponiblesAprobar>0">Estado:</label>
            <label class="sm:w-32 sm:text-right sm:mr-5" *ngIf="plazasDisponiblesAprobar<=0">Estado:<br> <p style="color: red;">*Ya no tienes plazas disponibles</p></label>


            <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="idEstado" [ngModelOptions]="{standalone: true}" id="myselect">

              <option [ngValue]="gi.id" *ngFor="let gi of estadosalumnoslimitado">{{gi.estado}} </option>


            </select>

          </div>
          <div class="flex flex-col sm:flex-row items-center mt-3">
            <label class="sm:w-32 sm:text-right sm:mr-5">Observaciones:</label>
            <input type="text" class="input border sm:w-64" placeholder="" id="observacionescambio" required>


          </div>
        </div>


        <div class="px-5 pb-8 text-center">
          <button data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button>
          <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Cambiar Estado</button>
        </div>
      </form>

    </div>
  </div>



  <div class="modal" id="mostrarfecha">
    <div class="modal__content">
      <form #form="ngForm" (ngSubmit)="cambiarfecha()">
        <div class="p-5 text-center">
          <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>

          <label>Fecha de inicio del servicio social</label>


          <div class="sm:grid grid-cols-2 gap-2">
            <div class="relative mt-2">

              <input matInput [matDatepicker]="picker" id="fechadeinicio" placeholder="02/01/2021" class="input  w-full border mt-2" [readonly]="true">
              <mat-datepicker #picker></mat-datepicker>
            </div>

            <div class="relative mt-3">
              <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                            "> <a (click)="picker.open()" style=" border-radius: 10px; font-size: 15px;" class="button text-white  p-2">Ver Calendario</a> </div>


            </div>

          </div>

        </div>


        <div class="px-5 pb-8 text-center">
          <button data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button>
          <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Guardar</button>
        </div>
      </form>

    </div>
  </div>

</div>
