<nav class="navbar  shadow-lg navbar-expand-md navbar-light fixed-top bg-white">

    <a class="navbar-brand">
        <img src="https://adam.anahuac.mx/serviciosocial/images/logo-dark.png" width="300" height="100" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" style="font-size:20px;">
                <a class="nav-link" routerLink="/dashboard">Proyectos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="font-size:20px;">
                <a class="nav-link" [routerLink]="'/alumnos'">Alumnos</a>
            </li>
            <li class="nav-item" style="font-size:20px;">
                <a class="nav-link disabled" [routerLink]="['/instituciones/ver',id]">Perfil</a>
            </li>
        </ul>

    </div>
</nav>
<br><br>
<br>
<!-- END: Top Menu -->