<app-menu>
</app-menu>

<div class="" style="font-family:Helvetica;">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">

                <div class=" mr-5 " (click)="mostrarmodal()"> <i data-feather="alert-circle" class="w-8 h-8 mr-3" style="  position: absolute;
                    right: 20px;   color:#FF8800"></i> </div>
                <div class="modal" id="warning-modal-preview" style=" display: block; ">
                    <div class="modal__content modal__content--xl p-10 text-center">
                        <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

                        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Alumnos</div>
                        <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Administra tus aplicaciones!</div>


                        <div class=" mt-1 " style="font-size: 20px;">En esta sección podrás administrar todas las aplicaciones de alumnos interesados en tus proyectos.
                        </div>
                        <div class=" text-center">
                            <br> <a type="button" data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white bg-theme-12 shadow-md w-35 ">Continuar</a> </div>
                    </div>
                </div>
                <!-- BEGIN: General Report -->
                <div class="col-span-12 mt-8">

                    <div class="" *ngIf="alumnos.length==0 ">
                        <div class="  ">

                            <div class="box p-5 zoom-in">

                                <div class="text center" align="center">
                                    <div class="text-base  text-center font-bold  mt-1">Sin alumnos registrado</div>

                                </div>



                            </div>
                            <br>
                        </div>
                    </div>



                    <div class="grid grid-cols-12 gap-6 mt-5" *ngIf="alumnos.length>0 ">
                        <div class="col-span-12 sm:col-span-4 xl:col-span-3 intro-y ">
                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5" style="font-size:25px;">
                                    Alumnos nuevos
                                </h2>


                            </div>
                            <br>
                            <hr style="color: #000000;" noshade="noshade" size="2" /><br>
                            <div *ngFor="let a of alumnos">

                                <div class=" px-1 py-1  flex-1 " *ngIf="a.idEstado==1">
                                    <a (click)="veralumno(a.id,a.idAlumno,a.idEstado,a.idProyecto,a.fechaInicioInstitucion);">
                                        <div class="box bg-light p-2 zoom-in ">

                                            <div class="flex">
                                                <div class="text-white" style="	width: 2rem;
                                                height: 2rem;
                                                border-radius: 50%;
                                                background: rgb(59, 59, 59);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                              "> {{a.alumno.substring(0,1)}}</div>

                                                <div class="ml-auto">
                                                    <div class="text-base  font-bold  mt-1">{{a.alumno}}</div>

                                                </div>

                                            </div>


                                            <div class="">
                                                <div class=" text-gray-600 mt-1">Campus: {{a.universidad}}</div>
                                                <div class=" text-gray-600 mt-1">Carrera: {{a.carrera}}</div>


                                                <div class="ml-auto">
                                                    <div class="text-2xl font-bold leading-8 mt-1 ">Horas: {{a.horasRegistradas}} </div>

                                                </div>

                                            </div>


                                        </div>
                                    </a>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-4 xl:col-span-3 intro-y">

                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5" style="font-size:25px;">
                                    Alumnos Entrevistados
                                </h2>

                            </div>
                            <br>
                            <hr style="color: #000000;" noshade="noshade" size="2" /><br><br>
                            <div *ngFor="let a of alumnos">

                                <div class=" px-1 py-1 flex-1" *ngIf="a.idEstado==2">
                                    <a (click)="veralumno(a.id,a.idAlumno,a.idEstado,a.idProyecto,a.fechaInicioInstitucion);">
                                        <div class="box bg-light p-2 zoom-in ">

                                            <div class="flex">
                                                <div class="text-white" style="	width: 2rem;
                                                height: 2rem;
                                                border-radius: 50%;
                                                background: rgb(59, 59, 59);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                              "> {{a.alumno.substring(0,1)}}</div>

                                                <div class="ml-auto">
                                                    <div class="text-base  font-bold  mt-1">{{a.alumno}}</div>

                                                </div>

                                            </div>


                                            <div class="">
                                                <div class=" text-gray-600 mt-1">Campus: {{a.universidad}}</div>
                                                <div class=" text-gray-600 mt-1">Carrera: {{a.carrera}}</div>


                                                <div class="ml-auto">
                                                    <div class="text-2xl font-bold leading-8 mt-1 ">Horas: {{a.horasRegistradas}} </div>

                                                </div>

                                            </div>


                                        </div>
                                    </a>
                                    <br>
                                </div>
                            </div>

                        </div>


                        <div class="col-span-12 sm:col-span-4 xl:col-span-3 intro-y ">
                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5" style="font-size:25px;">
                                    Alumnos Aceptados
                                </h2>
                            </div>
                            <br>
                            <hr style="color: #000000;" noshade="noshade" size="2" /><br><br>
                            <div *ngFor="let a of alumnos">

                                <div class=" px-3 py-3  flex-1 " *ngIf="a.idEstado==3">
                                    <a (click)="veralumno(a.id,a.idAlumno,a.idEstado,a.idProyecto,a.fechaInicioInstitucion);">
                                        <div class="box bg-light p-2 zoom-in ">

                                            <div class="flex">
                                                <div class="text-white" style="	width: 2rem;
                                                height: 2rem;
                                                border-radius: 50%;
                                                background: rgb(59, 59, 59);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                              "> {{a.alumno.substring(0,1)}}</div>

                                                <div class="ml-auto">
                                                    <div class="text-base  font-bold  mt-1">{{a.alumno}}</div>

                                                </div>

                                            </div>


                                            <div class="">
                                                <div class=" text-gray-600 mt-1">Campus: {{a.universidad}}</div>
                                                <div class=" text-gray-600 mt-1">Carrera: {{a.carrera}}</div>


                                                <div class="ml-auto">
                                                    <div class="text-2xl font-bold leading-8 mt-1 ">Horas: {{a.horasRegistradas}} </div>

                                                </div>

                                            </div>


                                        </div>
                                    </a>
                                    <br>
                                </div>
                            </div>
                        </div>



                        <div class="col-span-12 sm:col-span-4 xl:col-span-3 intro-y">

                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5" style="font-size:25px;">
                                    Alumnos inscritos
                                </h2>

                            </div>
                            <br>
                            <hr style="color: #000000;" noshade="noshade" size="2" /><br>
                            <div *ngFor="let a of alumnos">

                                <div class=" px-1 py-1   " *ngIf="a.idEstado==4">
                                    <a (click)="veralumno(a.id,a.idAlumno,a.idEstado,a.idProyecto,a.fechaInicioInstitucion);">
                                        <div class="box bg-light p-2 zoom-in ">

                                            <div class="flex">
                                                <div class="text-white" style="	width: 2rem;
                                                height: 2rem;
                                                border-radius: 50%;
                                                background: rgb(59, 59, 59);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                              "> {{a.alumno.substring(0,1)}}</div>

                                                <div class="ml-auto">
                                                    <div class="text-base  font-bold  mt-1">{{a.alumno}}</div>

                                                </div>

                                            </div>


                                            <div class="">
                                                <div class=" text-gray-600 mt-1">Campus: {{a.universidad}}</div>
                                                <div class=" text-gray-600 mt-1">Carrera: {{a.carrera}}</div>


                                                <div class="ml-auto">
                                                    <div class="text-2xl font-bold leading-8 mt-1 ">Horas: {{a.horasRegistradas}} </div>

                                                </div>

                                            </div>


                                        </div>
                                    </a>
                                    <br>
                                </div>
                            </div>

                        </div>


                    </div>



                    <!-- END: Convocatorias Abiertas -->


                </div>







            </div>
        </div>
    </div>
</div>

<!-- END: Content -->