<app-menu>
</app-menu>

<div class="content">

    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class=" mr-5 " (click)="mostrarmodal()"> <i data-feather="alert-circle" class="w-8 h-8 mr-3" style="  position: absolute;
                    right: 20px;   color:#FF8800"></i> </div>
                <div class="modal" id="warning-modal-preview" style=" display: block; ">
                    <div class="modal__content">
                        <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">Oops...</div>
                            <div class="text-gray-600 mt-2">Something went wrong!</div>
                        </div>
                        <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
                        <div class="p-5 text-center border-t border-gray-200 dark:border-dark-5"> <a href="" class="text-theme-1 dark:text-theme-10">Why do I have this issue?</a> </div>
                    </div>
                </div>
                <!-- BEGIN: General Report -->
                <div class="col-span-12 mt-8">




                    <!-- BEGIN: Convocatorias Abiertas -->
                    <div class="col-span-12 mt-6 ">
                        <div class="grid grid-cols-12 gap-6 mt-5">
                            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                                <div class=" p-5">
                                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">Convocatorias
                                    </div>
                                    <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                                </div>

                            </div>

                        </div>
                        <div class="intro-y  bg-light overflow-auto lg:overflow-visible mt-8 sm:mt-0" style="background: rgb(250, 250, 250);">
                            <table class="table  sm:mt-2  bg-light ">
                                <thead>
                                    <tr>

                                        <th class=" "></th>
                                        <th class="text-center whitespace-no-wrap ">Inicia</th>
                                        <th class="text-center whitespace-no-wrap ">Termina</th>
                                        <th class="text-center whitespace-no-wrap ">Status</th>
                                        <th class="text-center whitespace-no-wrap "></th>
                                    </tr>
                                </thead>
                                <tbody class=" bg-light " *ngFor="let convocatoria of convocatoriasf ">
                                    <tr class="bg-light " *ngIf="convocatoria.activo==true || (convocatoria.fechaTermino) < (d) ">
                                        <td class="w-5">
                                            <a class="font-medium whitespace-no-wrap " style="font-size:20px;">{{  convocatoria.convocatoria}} </a>
                                            <div class="text-gray-600 text-xs whitespace-no-wrap " style="font-size:15px;">Descripción {{convocatoria.descripcion}}</div>
                                        </td>
                                        <!-- <td>
                                            <div class="flex items-center justify-center text-theme-9 ">
                                                {{convocatoria.periodo }}
                                            </div>
                                        </td> -->


                                        <td class="W-56 ">
                                            <div class="flex items-center justify-center text-theme-6 mt-3" style="font-size:15px;">
                                                {{convocatoria.Inicio }}
                                            </div>
                                        </td>
                                        <td class="W-56 ">
                                            <div class="flex items-center justify-center text-theme-6 mt-3" style="font-size:15px;">
                                                {{convocatoria.Termino}}
                                            </div>
                                        </td>
                                        <td class="w-40 ">

                                            <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-9 text-white  font-medium mt-3" *ngIf="convocatoria.activo==true " style="font-size:15px;">ACTIVA</div>
                                            <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white  font-medium mt-3 " *ngIf="convocatoria.activo==false " style="font-size:15px;">DESACTIVA</div>

                                        </td>
                                        <td class="table-report__action w-56 ">
                                            <div class="flex justify-center items-center mt-3">
                                                <a class="py-1 px-2 rounded-full text-center text-xs bg-theme-1 text-white cursor-pointer " style="font-size:15px;" [routerLink]="[ '/proyectos/add',convocatoria.idPeriodo] ">  Agregar Proyecto </a>

                                            </div>
                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>

                    <br>
                    <!-- BEGIN: Weekly Top Products -->
                    <div class="col-span-12 mt-6  " *ngIf="proyectos.length>0">
                        <div class="grid grid-cols-12 gap-6 mt-5">
                            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                                <div class=" p-5">
                                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">Proyectos
                                    </div>
                                    <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                                </div>

                            </div>

                        </div>
                        <div class="intro-y  bg-light overflow-auto lg:overflow-visible mt-8 sm:mt-0" style="background: rgb(250, 250, 250);">
                            <table class="table  sm:mt-2  bg-light ">
                                <thead>
                                    <tr>

                                        <th class="whitespace-no-wrap "></th>
                                        <th class="text-center whitespace-no-wrap ">Aplicaciones</th>
                                        <th class="text-center whitespace-no-wrap ">Inscritos</th>

                                        <th class="text-center whitespace-no-wrap ">Plazas Disponibles
                                        </th>
                                        <th class="text-center whitespace-no-wrap ">Status</th>
                                        <th class="text-center whitespace-no-wrap "></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="intro-x  bg-light " *ngFor="let proyect of proyectos ">
                                        <td class="w-56">
                                            <a class="font-medium whitespace-no-wrap " style="font-size:20px;">{{proyect.proyecto}}</a>
                                            <div class="text-gray-600 text-xs whitespace-no-wrap " style="font-size:15px;">Responsable: {{proyect.nombreResponsable}}</div>


                                        </td>
                                        <td class="w-5">

                                            <div class=" font-weight-bold m-3  text-center" style="font-size:20px; color:#FF8800">
                                                <h1> {{proyect.cantidadPendientes}} </h1>
                                            </div>


                                        </td>

                                        <td class="w-5">

                                            <div class=" font-weight-bold m-3  text-center" style="font-size:20px; color:#FF8800">
                                                {{proyect.plazasAutorizadas-proyect.plazasDisponibles}}</div>


                                        </td>


                                        <td class="w-5">

                                            <div class=" font-weight-bold m-3  text-center" style="font-size:20px; color:#FF8800">
                                                {{proyect.plazasDisponibles}}</div>


                                        </td>

                                        <td class="w-40">
                                            <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-9 text-white  font-medium mt-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top" *ngIf="proyect.idEstadoProyecto==1">{{proyect.estadoProyecto}}</div>
                                            <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white  font-medium mt-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top" *ngIf="proyect.idEstadoProyecto==2">{{proyect.estadoProyecto}}</div>
                                            <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-12 text-white  font-medium mt-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top" *ngIf="proyect.idEstadoProyecto==3">{{proyect.estadoProyecto}}</div>

                                        </td>
                                        <td class="table-report__action w-56">
                                            <div class="flex justify-center items-center mt-3" style="font-size:20px" *ngIf="proyect.idEstadoProyecto==3">
                                                <a class=" py-1 px-2 rounded-full text-center text-xs bg-theme-1 text-white cursor-pointer flex items-center mr-3" [routerLink]="['/proyectos/ver', proyect.id  ]">
                                                    <p class="ml-5 mr-5"> Ver</p>
                                                </a>

                                            </div>


                                            <div class="flex justify-center items-center mt-3" style="font-size:20px" *ngIf="proyect.idEstadoProyecto<3">
                                                <a class=" py-1 px-2 rounded-full text-center text-xs bg-theme-1 text-white cursor-pointer flex items-center mr-3" [routerLink]="['/proyectos/edit', proyect.id  ]">
                                                    <p class="ml-5 mr-5"> Editar</p>

                                                </a>

                                            </div>

                                        </td>

                                    </tr>




                                </tbody>
                            </table>
                        </div>

                        <!-- END: Weekly Top Products -->

                        <!-- END: General Report -->
                    </div>


                    <div class="col-span-12 mt-6  " *ngIf="proyectos.length==0">
                        <div class="grid grid-cols-12 gap-6 mt-5">
                            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                                <div class=" p-5">
                                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">Proyectos
                                    </div>
                                    <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                                </div>

                            </div>

                        </div>
                        <div class="text-base-600 text-center leading-8 mt-6" style=" text-align:justify; font-size:35px; ">
                            No has agregado ningún proyecto

                        </div>



                        <!-- END: Convocatorias Abiertas -->


                    </div>







                </div>
            </div>
        </div>
    </div>

    <!-- END: Content -->