<app-menu></app-menu>


<div class="container">
    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Muy bien!</div>
                <div class="text-gray-600 mt-2">Has editado una Institución / Área!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>


    <form #formEmpresa="ngForm" class="mt-8">

        <!-- BEGIN: FORM  box p-5 mt-5 w-full -->
        <!--<div class="intro-y box mt-5">-->
        <div class="" id="horizontal-form">
            <div class="preview">


                <div class="grid grid-cols-12 gap-6 mt-8">
                    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y mt-8">
                        <div class=" p-5">
                            <div class="   mt-1 font-weight-bold" style="font-size:35px; ">Información General de la Institución

                            </div>
                            <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                        </div>

                    </div>

                </div>

                <div class="" style="font-size: 20px;">
                    <br>

                    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                        <a style="margin-left: auto;" class="button text-white shadow-md mr-2" style="background-color: #FF8800;">Estado: {{proyectoModel.estadoProyecto}}</a>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                        <div class=" p-5">
                            <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">

                                Nombre del proyecto:</div>
                            <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.proyecto}} </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-6 mt-5">

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">

                                    ¿Se puede hacer el servicio social bajo la modalidad a distancia en este proyecto?
                                </div>

                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.modalidadDistancia}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">

                                    Institución / Área:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.organizacion}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">

                                    Nombre del Responsable del Proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.nombreResponsable}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Puesto del Responsable del Proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.puesto}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Área del Responsbale del Proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.area}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Correo electrónico del responsable del proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.correoResponsable}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Teléfono de responsable del proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.telefono}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Plazas de Servicio Social disponibles para el proyecto
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.plazas}}</div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Descripción del proyecto:</div>

                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.descripcion}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Objetivo del proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.objetivo}}</div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y">
                            <div class=" p-5">
                                <div class=" text-center  mt-1 font-weight-bold" style="font-size:25px; color:#FF8800" align="center">
                                    Justificaciòn del impacto social del proyecto:
                                </div>
                                <div class=" font-bold leading-8 mt-6" style="font-size:20px; " align="center"> {{proyectoModel.justificacionImpactoSocial}}</div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5 mb-1">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class=" p-5 pb-1">
                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">
                        Información referente al Prestador de Servicio Social Estudiante

                    </div>
                    <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                </div>

            </div>

        </div>

        <div class="" id="horizontal-form">
            <div class="preview">

              <div class="grid grid-cols-12 gap-6">

                <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5 pt-1">
                      <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Rol o función del prestador de servicio social (estudiante) dentro del proyecto:
                      </div>
                      <div class="text-base font-bold leading-8 mt-6" style="text-align: justify;">{{proyectoModel.rolPrestador}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5 pt-1">
                      <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Responsabilidades del prestador de servicio social:
                      </div>
                      <div class="text-base font-bold leading-8 mt-6" style="text-align: justify;">{{proyectoModel.responsabilidades}}</div>
                    </div>
                  </div>
                </div>

                <div routerLink="/proyectos" class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5">
                      <div class="mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        ¿El alumno recibe capacitación/formación por parte de la Institución?
                      </div>
                      <div *ngIf="proyectoModel.capacitacion=='si'; else elseBlock" class="text-base font-bold leading-8 mt-6">Sí</div>
                      <ng-template #elseBlock>
                        <div class="text-base font-bold leading-8 mt-6">No</div>
                      </ng-template>
                    </div>
                  </div>
                </div>

                
                <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5">
                      <div *ngIf="proyectoModel.capacitacion=='si'; else elseBlock1" class="mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Tipo de capacitaciòn:
                      </div>
                      <ng-template #elseBlock1>
                        <div *ngIf="proyectoModel.capacitacion=='no';" class="mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                          Razòn por la que no ofrece capacitaciòn:
                        </div>
                      </ng-template>
                      <div class="text-base font-bold leading-8 mt-6">
                        {{proyectoModel.razonCapacitacion}}
                      </div>
                    </div>
                  </div>
                </div>

                <!--TODO_SERGIO
  <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
    <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
      <div class="p-5">
        <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
          ¿Cantidad de horas totales del proyecto?
        </div>
        <div class="text-base font-bold leading-8 mt-6"> {{proyectoModel.razonCapacitacion}} </div>
      </div>
    </div>
  </div>-->

                <div routerLink="/proyectos" class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5">
                      <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Según la naturaleza del proyecto, ¿a cuál de los siguientes objetivos de la ONU contribuye?
                      </div>
                      <div class="text-base font-bold leading-8 mt-6">{{proyectoModel.objetivoOnu}}</div>
                    </div>
                  </div>
                </div>



                <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5">
                      <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Inicio de la prestación de servicio social
                      </div>
                      <div class="text-base font-bold leading-8 mt-6">
                        {{proyectoModel.fechaInicio}}

                        <!-- Fecha termino: {{proyectoModel.fechaTermino}} -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5">
                      <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Horarios disponibles para la prestación de servicio social
                      </div>
                      <div class="text-base font-bold leading-8 mt-6">Hora entrada: {{proyectoModel.horaEntrada}} Hora salida: {{proyectoModel.horaSalida}}</div>
                    </div>
                  </div>
                </div>



                <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                  <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y text-center">
                    <div class="p-5">
                      <div class="   mt-1 font-weight-bold " style=" font-size:25px; color:#FF8800">
                        Días hábiles para la prestación de servicio social
                      </div>

                      <div class="text-base font-bold leading-8 mt-6">
                        <div *ngIf="proyectoModel.lunes" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Lunes</span>
                          </div>
                        </div>
                        <div *ngIf="proyectoModel.martes" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Martes</span>
                          </div>
                        </div>
                        <div *ngIf="proyectoModel.miercoles" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Miércoles</span>
                          </div>
                        </div>
                        <div *ngIf="proyectoModel.jueves" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Jueves</span>
                          </div>
                        </div>
                        <div *ngIf="proyectoModel.viernes" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Viernes</span>
                          </div>
                        </div>
                        <div *ngIf="proyectoModel.sabado" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Sábado</span>
                          </div>
                        </div>
                        <div *ngIf="proyectoModel.domingo" class="text-base text-gray-600 mt-1">
                          <div class="flex items-center">
                            <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                            <span>Domingo</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class=" p-5">
                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">
                        Carreras
                    </div>
                    <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                </div>

            </div>

        </div>
        <div class="" id="horizontal-form">
            <div class="">

                <div class="grid grid-cols-12 gap-6 ">

                    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                        <div class=" ">
                            <div class=" p-5">
                                <div *ngFor="let carrera of proyectoModel.carrerasList" class="text-base text-gray-600 mt-1">
                                    <div class="flex items-center">
                                        <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                                        <span style="color: #FF8800;">{{carrera.carrera}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class=" p-5">
                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">
                        Competencias
                    </div>
                    <hr style="color: #000000;" noshade="noshade" size="3" /><br>

                </div>

            </div>

        </div>
        <div class="" id="horizontal-form">
            <div class="preview">

                <div class="grid grid-cols-12 gap-6 mt-5">

                    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                        <div class="">
                            <div class=" p-5">
                                <div *ngFor="let competencia of proyectoModel.competenciasList" class="text-base text-gray-600 mt-1">
                                    <div class="flex items-center">
                                        <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                                        <span style="color: #FF8800;">{{competencia.competencia}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class=" p-5 pb-1">
                    <div class="   mt-1 font-weight-bold" style="font-size:35px; ">
                        Alumnos
                    </div>
                    <hr style="color: #000000;" noshade="noshade" size="3" />

                </div>

            </div>

        </div>

        <div class="" id="horizontal-form">
            <div class="preview">
                <div class="grid grid-cols-12 gap-6 ">

                    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                        <div class="mt-1">
                            <div class=" pl-5 pr-5">

                                <br>

                                <!-- BEGIN: Datatable -->
                                <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                                    <table class="table table-report ">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Nombre</th>
                                                <!--<th class="border-b-2 text-center whitespace-no-wrap">Matrícula</th>-->
                                                <th class="border-b-2 text-center whitespace-no-wrap">Correo</th>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Carrera</th>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Campus</th>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Estatus</th>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Fecha de ingreso</th>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Acción</th>
                                                <th class="border-b-2 text-center whitespace-no-wrap">Detalle</th>


                                            </tr>
                                        </thead>
                                        <tbody *ngIf="alumnos?.length != 0">

                                            <tr *ngFor="let alumno of alumnos">
                                                <td class="border-b" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">{{alumno.alumno}}</div>

                                                </td>
                                              <!--
                                                <td class="border-b" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">{{alumno.matricula}}</div>
                                                </td>
                                              -->
                                                <td class="border-b" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">{{alumno.correo}}</div>
                                                </td>

                                                <td class="border-b" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">{{alumno.carrera}}</div>
                                                </td>

                                                <td class="border-b" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">{{alumno.universidad}}</div>
                                                </td>
                                                <td class="border-b" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">{{alumno.estado}}</div>
                                                </td>
                                                <td style="background: rgb(250, 250, 250);">
                                                    <div class="ext-base text-xs whitespace-no-wrap" align="center" *ngIf="alumno.fechaInicioInstitucion==null && alumno.idEstado==4"> <a (click)="mostrarfecha(alumno.id)" style="margin-right: auto; border-radius: 35px; text-align:justify; font-size:15px; " class="button text-white  mr-2" style="background-color: #FF8800;">Agregar Fecha de inicio</a></div>
                                                    <div class="ext-base text-xs whitespace-no-wrap" align="center" *ngIf="alumno.fechaInicioInstitucion!=null && alumno.idEstado==4 "> {{alumno.fechaInicioInstitucion}}</div>

                                                </td>
                                                <td *ngIf="alumno.idEstado<4 " style="background: rgb(250, 250, 250);">
                                                    <div class="ext-base text-xs whitespace-no-wrap" align="center"> <a (click)="mostraractualizarestado(alumno.idAlumno)" style="margin-right: auto; border-radius: 35px; text-align:justify; font-size:15px; " class="button text-white  mr-2" style="background-color: #FF8800;">Cambiar Estado</a></div>


                                                </td>
                                                <td *ngIf="alumno.idEstado==4" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">Inscrito</div>
                                                </td>
                                                <td *ngIf="alumno.idEstado>4" style="background: rgb(250, 250, 250);">
                                                    <div class="font-medium flex sm:justify-center items-center">Finalizado</div>
                                                </td>
                                                <td class="w-5 border-b" style="background: rgb(250, 250, 250);">
                                                    <a (click)="veralumno(alumno.id,alumno.idAlumno,alumno.idEstado,alumno.idProyecto,alumno.fechaInicioInstitucion);" style="margin-right: auto; border-radius: 35px; text-align:justify; font-size:15px; " class="button text-white bg-theme-1 shadow-md mr-2">Ver
                                                    </a>
                                                </td>
                                                <div class="modal" id="mostareditaralumno-{{alumno.idAlumno}}">
                                                    <div class="modal__content">
                                                        <form #form="ngForm" (ngSubmit)="cambiarestatusalumno(alumno.idEstado)">
                                                            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>

                                                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                                                    <label class="sm:w-32 sm:text-right sm:mr-5">Estado:</label>
                                                                    <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="alumno.idEstado" [ngModelOptions]="{standalone: true}" id="myselect">
                   
                      <option [ngValue]="gi.id" *ngFor="let gi of estadosalumnoslimitado">{{gi.estado}} </option>
                
                
                    </select>

                                                                </div>
                                                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                                                    <label class="sm:w-32 sm:text-right sm:mr-5">Observaciones:</label>
                                                                    <input type="text" class="input border sm:w-64" placeholder="" [(ngModel)]="estadoalumnocambio.observacions" required style="background: rgb(250, 250, 250);">


                                                                </div>
                                                            </div>


                                                            <div class="px-5 pb-8 text-center">
                                                              <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button>
                                                                <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Cambiar Estado</button>
                                                          </div>
                                                        </form>

                                                    </div>
                                                </div>

                                                <div class="modal" id="mostrarfecha-{{alumno.id}}">
                                                    <div class="modal__content">
                                                        <form #form="ngForm" (ngSubmit)="cambiarfecha(alumno.id)">
                                                            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>

                                                                <label>Fecha de inicio del servicio social</label>
                                                                <input type="date" class="input  w-full border mt-2 " id="fechadeinicio-{{alumno.id}}" required>



                                                            </div>


                                                            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button>
                                                                <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Guardar</button> </div>
                                                        </form>

                                                    </div>
                                                </div>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!--end datatable-->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class="p-5 pb-1">
                    <div class="mt-1 font-weight-bold" style="font-size:35px; ">
                        Observaciones
                    </div>
                    <hr style="color: #000000;" noshade="noshade" size="3" />
                </div>

            </div>

        </div>
        <div class="" id="horizontal-form">
            <div class="preview">
                <div class="grid grid-cols-12 gap-6">

                    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                        <div class="">
                            <div class="p-5 pt-1">

                                <div class="grid grid-cols-12 gap-6">

                                    <div class="col-span-12 sm:col-span-6 xl:col-span-12 intro-y">
                                        <div class="p-5 pt-1">

                                            <h3 class="mt-3 w-full" style="padding: 5px;">{{proyectoModel.observaciones}}</h3>


                                        </div>


                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br><br><br>

        <!--</div>-->
    </form>
    <!-- END: FORM -->
</div>
<!-- END: Content -->
